@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  list-style: none;
  
}

.active {
  color: orangered;
}
.header-link {
  text-decoration: none;
}

.card-first {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  
}

.card-sec {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.card {
  display: flex;
  column-gap: 30px;

}

/* .card-th {
  
} */

.card-four {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.releaseYear {
  font-size: 22px;
  font-weight: 500;
}

.overview {
  font-weight: 700;
}

.genres {
  font-weight: 700;
}

.genres-list {
  font-weight: 500;
}

.user-score {
  font-weight: 500;
}

.actor-name {
  font-weight: 500;
  font-size: 24px;
}

.actor-character {
  font-weight: 500;
  font-size: 24px;

}

.decor {
  padding: 10px 30px;
}

.review-list {
  font-weight: 400;
}

.review-link {
  font-weight: 700;
}